$main-font-family: 'Outfit', sans-serif;
$color-white: #fff;
$color-soft-blue: #8bacd9;
$color-cyan: #00fff8;
$color-dark-body-bg: #0d192c;
$color-dark-card-bg: #15263f;
$color-border-bottom-line: #2e405a;